## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bethel,US,41.3712,-73.4140,46.92,70,90,3.44,overcast clouds
1,1,Airai,TL,-8.9266,125.4092,72.97,68,88,3.74,overcast clouds
2,2,Grindavik,IS,63.8424,-22.4338,25.27,80,40,5.75,scattered clouds
3,3,Mataura,NZ,-46.1927,168.8643,59.49,38,1,8.68,clear sky
4,4,Seoul,KR,37.5683,126.9778,63.79,36,0,6.91,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Avarua,CK,-21.2078,-159.7750,77.05,78,40,11.50,scattered clouds
9,9,Vaini,TO,-21.2000,-175.2000,78.96,89,40,9.22,light rain
22,22,Tharad,IN,24.3961,71.6267,81.90,29,10,3.91,clear sky
27,27,Acarau,BR,-2.8856,-40.1200,78.66,82,28,10.67,scattered clouds
28,28,Gudur,IN,14.1333,79.8500,78.12,76,100,5.91,light rain
30,30,Hobyo,SO,5.3505,48.5268,80.42,69,47,9.51,scattered clouds
32,32,Broken Hill,AU,-31.9500,141.4333,85.50,34,74,10.78,broken clouds
35,35,San Patricio,US,28.0170,-97.5169,76.84,63,0,11.01,clear sky
37,37,Kahului,US,20.8947,-156.4700,80.62,82,40,10.36,scattered clouds
38,38,Le Port,RE,-20.9373,55.2919,80.89,83,17,4.09,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
### added import numpy for subsequent changes to work
import numpy as np

In [7]:
### Revised this cell to properly address rows with empty strings.
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.replace('',np.nan, inplace=True)
preferred_cities_df.dropna()

C:\Users\chris\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4530: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Avarua,CK,-21.2078,-159.7750,77.05,78,40,11.50,scattered clouds
9,9,Vaini,TO,-21.2000,-175.2000,78.96,89,40,9.22,light rain
22,22,Tharad,IN,24.3961,71.6267,81.90,29,10,3.91,clear sky
27,27,Acarau,BR,-2.8856,-40.1200,78.66,82,28,10.67,scattered clouds
28,28,Gudur,IN,14.1333,79.8500,78.12,76,100,5.91,light rain
...,...,...,...,...,...,...,...,...,...,...
683,683,Soreang,ID,-7.0331,107.5183,80.26,65,100,2.08,overcast clouds
687,687,Hingatungan,PH,10.5840,125.1852,83.53,77,99,7.92,overcast clouds
695,695,Maumere,ID,-8.6199,122.2111,86.38,66,90,0.83,overcast clouds
704,704,Balabac,PH,7.9868,117.0645,80.46,83,100,9.26,light rain
705,705,Salinopolis,BR,-0.6136,-47.3561,79.25,84,87,7.78,overcast clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Avarua,CK,77.05,scattered clouds,-21.2078,-159.7750,
9,Vaini,TO,78.96,light rain,-21.2000,-175.2000,
22,Tharad,IN,81.90,clear sky,24.3961,71.6267,
27,Acarau,BR,78.66,scattered clouds,-2.8856,-40.1200,
28,Gudur,IN,78.12,light rain,14.1333,79.8500,
30,Hobyo,SO,80.42,scattered clouds,5.3505,48.5268,
32,Broken Hill,AU,85.50,broken clouds,-31.9500,141.4333,
35,San Patricio,US,76.84,clear sky,28.0170,-97.5169,
37,Kahului,US,80.62,scattered clouds,20.8947,-156.4700,
38,Le Port,RE,80.89,few clouds,-20.9373,55.2919,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

# 6c. Get latitude and longitude from DataFrame
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
### Revised this cell to properly address hotel cells in rows that were empty strings. Also renamed all subsequent dataframes to remove the "clean_" in front of hotel_df.
# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace('',np.nan, inplace=True)
hotel_df.dropna().head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Avarua,CK,77.05,scattered clouds,-21.2078,-159.7750,Paradise Inn
9,Vaini,TO,78.96,light rain,-21.2000,-175.2000,Keleti Beach Resort
22,Tharad,IN,81.90,clear sky,24.3961,71.6267,Shree Nandan Couriyar Service
27,Acarau,BR,78.66,scattered clouds,-2.8856,-40.1200,castelo pizzaria
28,Gudur,IN,78.12,light rain,14.1333,79.8500,BALAJI KITCHENS
30,Hobyo,SO,80.42,scattered clouds,5.3505,48.5268,Halane Hotel and Restaurent
32,Broken Hill,AU,85.50,broken clouds,-31.9500,141.4333,Royal Exchange Hotel
35,San Patricio,US,76.84,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
37,Kahului,US,80.62,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
38,Le Port,RE,80.89,few clouds,-20.9373,55.2919,KORBEY D'OR OUEST

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt>{Current Description} and {Max Temp} °F<dd/>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))